<!DOCTYPE html>
<html>
<head>
  <title>Gallery</title>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="box">
      <%= yield %>            
    </div>
  </div>
</body>
</html>
